<div class = "container_">
    <div class="sidebar_style">
      <div class="menu_">
        <ul class = "all-menu-items">
          <li class = " menu-item toggle-icon">
           <div class="toggle_">
            <i id="toggle-symbol" class="fa-solid fa-bars fa-lg " ></i>
           </div>
          </li>
        <a href="/home">
            <li class = "menu-item" >
                <i class="fa-solid fa-house fa-lg" style = "color:white"></i>
                <span class="menu-option">Home</span>
            </li>
        </a>
        <a href="/history">
            <li class = "menu-item" >
                <i class="fa-solid fa-clock-rotate-left fa-lg" style = "color:white"></i>
                <span class="menu-option">History</span>  
            </li>   
        </a>
        <a href="/reports">
            <li class = "menu-item" >
                <i class="fa-solid fa-chart-simple fa-lg" style = "color:white"></i>
                <span class="menu-option">Reports</span>
            </li>
        </a>
        <a href="/category">
            <li class = "menu-item" >
                <i class="fa-solid fa-chart-pie fa-lg" style = "color:white"></i>
                <span class="menu-option">Categories & Limits</span>
            </li>              
        </a>
        <a href="/settings">
            <li class = "menu-item" >
                <i class="fa-solid fa-gear fa-lg" style = "color:rgb(250, 250, 250)"></i>
                <span class="menu-option">Settings</span>
            </li>              
        </a>
        </ul>
      </div>
    </div> 
  </div>
  <div class="main">