<%-include("partials/header.ejs")%> 
<%-include("partials/navbar.ejs")%> 

<h1 class = "hello-user">Reports</h1>


<div class="transaction-card d-flex flex-row">
    <div class = "expense-icon">
        <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
    </div>
    <div>
        <h1 class = "transaction-card-heading">Limit Exceeded :</h1>
        <h1 class = "transaction-card-heading">In categories&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</h1>
    </div>
</div>

<%-include("partials/footer.ejs")%>     