<%-include("partials/header.ejs")%> 
<%-include("partials/navbar.ejs")%> 

<h1 class = "hello-user">Settings</h1>
<div>
    <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
      <tr >
        <!-- <th scope="row">1</th> -->
        <td class = "setting-fonts"  data-toggle="modal" data-target="#staticBackdrop">Account</td>
        <td>-</td>
      </tr>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td  class = "setting-fonts">Select time zone</td>
        <td>
        <select class = "select-tag-settings">
            <option value="">IST</option>
            <option value=""></option>
            <option value=""></option>
        </select></td>
      </tr>
     
    </tbody>
  </table>
</div>
<a href="/">
  <div class = "d-flex flex-column justify-content-center"> 
    <button type="button" class="logout-button" >Logout</button>
</div>
</a>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content modal-style-edit">
      <div class="modal-header">
        <h5 class="modal-title modal-heading-style" id="staticBackdropLabel">Add transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">    
      
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-cancel-button" data-dismiss="modal">Delete Account</button>
        <button type="button" class="modal-add-button">Change password</button>
      </div>
    </div>
  </div>

<%-include("partials/footer.ejs")%>     